<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<nav id="navbar">
    <a href="/home">HOME</a>

    <form action="/home/search" method="get">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name-search" placeholder="Nome">
        <label for="city">Città</label>
        <input type="text" name="city" id="city-search" placeholder="Città">
        <button type="submit">Cerca</button>
    </form>
    <form action="/home/coordinates" method="get" id="geo-form">
        <input type="number" step="any" style="display: none" name="latitudesearch" id="latitudesearch" readonly required>
        <input type="number" step="any" style="display: none" name="longitudesearch" id="longitudesearch" readonly required>

        <button type="button" onclick="ottieniPosizione()">Trova tramite posizione</button>
        <p id="output"></p>
    </form>

    <a href="/place/add">Aggiungi locale</a>

    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
</nav>

    <main>
        {#if role == 'moderator'}
            <div id="container-users">
                <a href="/users">Vai alla lista utenti</a>
            </div>
        {/if}

        {#if errorMessage}
            <p id="error">{errorMessage}</p>
        {/if}

        {#for place in places}
            <a class="place-link" href="/place/{place.id}">
                <div class="place">
                    <h3 class="place-name">{place.name}</h3>
                    <p class="place-address-city">{place.address}, {place.city}</p>
                    <p class="place-description">{place.description}</p>
                    <div class="place-categories">
                        {#for category in place.categories}
                            <div class="place-category-container">
                                <p class="place-category">{category.name}</p>
                            </div>
                        {/for}
                    </div>
                    <div class="place-images">
                        {#for media in place.medias}
                            <div class="place-image-container">
                                <img class="place-image" src="{media.path}" alt="Img">
                            </div>
                        {/for}
                    </div>
                </div>
            </a>
        {/for}

    </main>

<script src="/js/coordinates.js"></script>

</body>
</html>