<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Place</title>
</head>
<body>
<main>
    <form action="/home" method="get">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" placeholder="Nome">
        <label for="city">Città</label>
        <input type="text" name="city" id="city" placeholder="Città">
        <button type="submit">Cerca</button>
    </form>

    <a href="/home">Torna alla home</a>

    {#if errorMessage}
        <p id="error">{errorMessage}</p>
    {/if}

    {#if place}
        <div class="place">
            <h3 class="place-name">{place.name}</h3>
            <p class="place-address-city">{place.address}, {place.city}</p>
            <p class="place-description">{place.description}</p>
            <div class="place-categories">
                {#for category in place.categories}
                    <div class="place-category-container">
                        <p class="place-category">{category.name}</p>
                    </div>
                {/for}
            </div>
            <div class="place-images">
                {#for media in place.medias}
                    <div class="place-image-container">
                        <img class="place-image" src="{media.path}" alt="{media.path}">
                    </div>
                {/for}
            </div>
        </div>
    {/if}

    <h4>Recensioni</h4>

    <div id="add-review">
        <form method="post">
            <label for="rating-select">
                <select id="rating-select" name="rating-select" required>
                    <option class="rating-option" value="1">1</option>
                    <option class="rating-option" value="2">2</option>
                    <option class="rating-option" value="3">3</option>
                    <option class="rating-option" value="4">4</option>
                    <option class="rating-option" value="5">5</option>
                </select>
            </label>
            <br>

            <label for="review-description">
                <textarea name="review-description" placeholder="Descrizione"></textarea>
            </label>
            <br>

            <input type="submit" id="review-submit" value="Aggiungi">
            <input type="reset" id="review-reset" value="Cancella">
        </form>
        <br>

        {#if reviewErrorMessage}
            <p id="review-error">{reviewErrorMessage}</p>
        {/if}
    </div>

    {#for review in reviews}
        <div class="review-container">
            <p class="review-rating">{review.rating}/5 {#if review.approver} ✅ {/if}</p>
            <p class="review-description">{review.description}</p>
            <p class="review-user">{review.reviewer.username}</p>
            <p class="review-created-at">{review.createdAt}</p>
        </div>
    {/for}

</main>
</body>
</html>