<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Place</title>
</head>
<body>
<main>
    <nav id="navbar">
        <a href="/home">HOME</a>

        <form action="/home/search" method="get">
            <label for="name">Nome</label>
            <input type="text" name="name" id="name" placeholder="Nome">
            <label for="city">Città</label>
            <input type="text" name="city" id="city" placeholder="Città">
            <button type="submit">Cerca</button>
        </form>
        <form action="/home/coordinates" method="get" id="geo-form">
            <input type="number" step="any" style="display: none" name="latitudesearch" id="latitudesearch" readonly required>
            <input type="number" step="any" style="display: none" name="longitudesearch" id="longitudesearch" readonly required>

            <button type="button" onclick="ottieniPosizione()">Trova tramite posizione</button>
            <p id="output"></p>
        </form>

        <a href="/place/add">Aggiungi locale</a>

        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </nav>

    {#if errorMessage}
        <p id="error">{errorMessage}</p>
    {/if}

    <div id="form-container">
        <form action="" method="post">
            <label for="name">
                Nome
                <input type="text" name="name" id="name" required>
            </label>
            <br>

            <label for="description">
                Descrizione
                <input type="text" name="description" id="description" required>
            </label>
            <br>

            <label for="city">
                Città
                <input type="text" name="city" id="city" required>
            </label>
            <br>

            <label for="address">
                Indirizzo
                <input type="text" name="address" id="address" required>
            </label>
            <br>

            <button onclick="trovaCoordinate()">Calcola Coordinate</button>
            <br>

            <label for="latitude">
                Latitudine
                <input type="text" name="latitude" id="latitude" required>
            </label>
            <br>

            <label for="longitude">
                Longitudine
                <input type="text" name="longitude" id="longitude" required>
            </label>
            <br>

            <div id="stato" class="status"></div>
            <br>

            <label id="categories">
                Categorie
                {#for category in categories}
                    <label for="categories-checkbox">
                        <input type="checkbox" name="categories" value="{category.name}"> {category.name}
                    </label>
                {/for}
            </label>
            <br>

            <label for="image-url">
                Url dell'immagine
                <input type="text" name="image-url" id="image-url">
            </label>
            <br>

            <input type="submit" id="submit" value="Aggiungi">
            <input type="reset" id="reset" value="Cancella">
        </form>
    </div>

</main>

<script src="js/coordinates.js"></script>
</body>
</html>