<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Place</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main>
    <nav id="navbar">
        <a href="/home">HOME</a>

        <form action="/home/search" method="get">
            <label for="name">Nome</label>
            <input type="text" name="name" id="name-search" placeholder="Nome">
            <label for="city">Città</label>
            <input type="text" name="city" id="city-search" placeholder="Città">
            <button type="submit">Cerca</button>
        </form>
        <form action="/home/coordinates" method="get" id="geo-form">
            <input type="number" step="any" style="display: none" name="latitudesearch" id="latitudesearch" readonly required>
            <input type="number" step="any" style="display: none" name="longitudesearch" id="longitudesearch" readonly required>

            <button type="button" onclick="ottieniPosizione()">Trova tramite posizione</button>
            <p id="output"></p>
        </form>

        <a href="/place/add">Aggiungi locale</a>

        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </nav>

    {#if errorMessage}
        <p id="error">{errorMessage}</p>
    {/if}

    {#if place}
        <div class="place">
            <h3 class="place-name">{place.name}</h3>
            <p class="place-owner-username">{place.user.username}</p>
            <p class="place-address-city">{place.address}, {place.city}</p>
            <p class="place-average-rating">Voto medio: {averageRating} ⭐</p>
            <p class="place-average-rating">Numero recensioni: {reviewNumber}</p>
            <p class="place-description">{place.description}</p>
            <div class="place-categories">
                {#for category in place.categories}
                    <div class="place-category-container">
                        <p class="place-category">{category.name}</p>
                    </div>
                {/for}
            </div>
            <div class="place-images">
                {#for media in place.medias}
                    <div class="place-image-container">
                        <img class="place-image" src="{media.path}" alt="{media.path}">
                    </div>
                {/for}
            </div>
        </div>
    {/if}

    <h4>Recensioni</h4>

    <div id="add-review">
        <form method="post">
            <label for="rating-select">
                <select id="rating-select" name="rating-select" required>
                    <option class="rating-option" value="1">1</option>
                    <option class="rating-option" value="2">2</option>
                    <option class="rating-option" value="3">3</option>
                    <option class="rating-option" value="4">4</option>
                    <option class="rating-option" value="5">5</option>
                </select>
            </label>
            <br>

            <label for="review-description">
                <textarea name="review-description" placeholder="Descrizione"></textarea>
            </label>
            <br>

            <input type="submit" id="review-submit" value="Aggiungi">
            <input type="reset" id="review-reset" value="Cancella">
        </form>
        <br>

        {#if reviewErrorMessage}
            <p id="review-error">{reviewErrorMessage}</p>
        {/if}
    </div>

    {#for review in reviews}
        {#if !review.approver && loggedUserRole == "moderator"}
            <div class="review-container-not-approved">
                <p class="review-rating">{review.rating}/5</p>
                <p class="review-description">{review.description}</p>
                <p class="review-user">{review.reviewer.username}</p>
                <p class="review-created-at">{review.createdAt.toLocalDate}</p>

                <form action="/place/{place.id}/review/{review.id}/delete" method="post">
                    <input type="submit" value="Delete">
                </form>

                <form action="/place/{place.id}/review/{review.id}/approve" method="post">
                    <input type="submit" value="Approva">
                </form>
            </div>
        {#else}
            <div class="review-container-approved">
                <p class="review-rating">{review.rating}/5  ✅</p>
                <p class="review-description">{review.description}</p>
                <p class="review-user">{review.reviewer.username}</p>
                <p class="review-created-at">{review.createdAt.toLocalDate}</p>

                {#if loggedUserRole == "moderator"}
                    <form action="/place/{place.id}/review/{review.id}/delete" method="post">
                        <input type="submit" value="Delete">
                    </form>
                {/if}
            </div>
        {/if}
    {/for}

</main>

<script src="/js/coordinates.js"></script>
</body>
</html>