<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users</title>
</head>
<body>
<nav id="navbar">
    <a href="/home">HOME</a>

    <form action="/home/search" method="get">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name-search" placeholder="Nome">
        <label for="city">Città</label>
        <input type="text" name="city" id="city-search" placeholder="Città">
        <button type="submit">Cerca</button>
    </form>
    <form action="/home/coordinates" method="get" id="geo-form">
        <input type="number" step="any" style="display: none" name="latitudesearch" id="latitudesearch" readonly required>
        <input type="number" step="any" style="display: none" name="longitudesearch" id="longitudesearch" readonly required>

        <button type="button" onclick="ottieniPosizione()">Trova tramite posizione</button>
        <p id="output"></p>
    </form>

    <a href="/place/add">Aggiungi locale</a>

    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
</nav>

<main>
    <table border="1">
        <tr>
            <th>username</th>
            <th>role</th>
            <th>created_at</th>
            <th>actions</th>
        </tr>
        {#for user in users}
            <tr>
                <td>{user.username}</td>
                <td>{user.role}</td>
                <td>{user.createdAt}</td>
                <td>
                    {#if user.username != loggedUsername && user.role != "moderator"}
                        <a href="/users/modify/{user.username}">Set as moderator</a>
                    {/if}
                </td>
            </tr>
        {/for}
    </table>
</main>

<script src="/js/coordinates.js"></script>
</body>
</html>